---
name: Code Quality Check

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions: read-all

jobs:
  gdlint:
    name: Check code quality with gdlint
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up GDToolkit
        uses: Scony/godot-gdscript-toolkit@b7a4935fc6483d51837f7080598dad456f4f7645 # v4.5.0

      - name: Run Linter
        run: gdlint .